.container .jumbotron {
    background-color: transparent;
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.container .header {
    margin-bottom: 0;
    padding-bottom: 0;
}

#mc_embed_signup #mc_embed_signup_scroll {
    width: 690px;
}

.container .jumbotron, .container-fluid .jumbotron {
    padding-right: 0;
    padding-left: 0;
    padding-top: 40px;
}