.title {
    text-align: center
}

.container .jumbotron {
    background-color: transparent;
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.container .header {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 1px solid #E9020E;
}

.container .header h3 {
    color: black;
}

#mc_embed_signup #mc_embed_signup_scroll {
    width: 690px;
}

.container .jumbotron, .container-fluid .jumbotron {
    padding-right: 0;
    padding-left: 0;
    padding-top: 40px;
}

.contact-us {
    float: right;
    font-style: italic
}

.marketing {
    margin-top: 10px;
    margin-bottom: 0;
}

.container #mc_embed_signup input.subscribe {
    background-color: #FB8651;
}

.container #mc_embed_signup input.subscribe:hover {
    background-color: #E9020E;
}

.container .fala {
    color: #FB8651;
    font-weight: bold;
}

.container .leitura {
    color: #7AD13F;
    font-weight: bold;
}

.container .escrita {
    color: #E9020E;
    font-weight: bold;
}

.container .subtitle {
    font-size: 12pt;
    margin-bottom: 20px;
    color: #125097;
}

.container .subtitle .strong {
    font-weight: bold;
}

.container .jumbotron, .container-fluid .jumbotron {
    padding-top: 10px;
}