.navbar-wrapper .navbar-header {
    float: right;
}

.navbar-header .navbar-brand {
    color: white;
}

.navbar-wrapper {
    z-index: 2000;
}

.facebook-icon {
    width: 50px;
    margin-top: 10px;
}

.header {
    top: 25px;
    position: absolute;
    left: 50%;
    z-index: 1000;
}

.header .logo {
    width: 80px;
    margin-right: 10px;
}

.header .title {
    width: 350px;
    margin-right: 10px;
}

.appstore-download {
    width: 160px;
    display: block;
    margin: auto;
}

.header .icon {
    margin-right: 20px;
}

.header-content {
    position: relative;
    left: -50%;
}

.carousel .item {
    height: 550px;
    background-color: #2EAFDB;
    background-image: url('/images/background.png');
    background-size: cover;
}

.ipad-screen {
    width: 80%;
    margin-bottom: -10%;
}

.video {
    display: block;
    margin: auto;
}

h2.sub-title {
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
}

footer {
    margin-top: 50px;
}

footer .footer-item {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}