html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html{
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%
}
body{
  margin:0
}
article,figcaption,figure,footer,header,main,menu,nav,section,summary{
  display:block
}
video{
  display:inline-block
}
progress{
  vertical-align:baseline
}
a{
  background-color:transparent;
  -webkit-text-decoration-skip:objects
}
a:active,a:hover{
  outline-width:0
}
abbr[title]{
  border-bottom:none;
  text-decoration:underline;
  text-decoration:underline dotted
}

/*----------Navbar: menu superior----------*/
.navbar{
  list-style-type:none;
  margin:0;
  padding:0;
  overflow:hidden
}
.navbar li{
  float:left
}
.navbar li a{
  display:block;
  padding:8px 16px
}
.navbar li a:hover{
  color:#000;
  background-color:#ccc
}
.navbar li a img{
  width: 35px;
}

.navbar a{
  text-decoration:none!important
}

.navbar:hover,.navbar:first-child:hover{
  background-color:#ccc;
  color:#000
}

.navbar .opennav .float-right{
  float:right!important
}

/*----------Responsive modifications ----------*/
@media screen and (max-width:600px){
  .navbar li:not(.opennav){
    float:none;
    width:100%!important
  }
  .navbar li.float-right{
    float:none!important
  }
}

@media screen and (max-width:600px){
  .navbar{
    position:relative
  }
}

@media screen and (max-width:600px){
  .navbar{
    text-align:center
  }
}

/*----------Container----------*/
.container{
  padding:0.01em 16px
}
.container:after,.row:after,.w3-btn-group:before,.w3-btn-group:after{
  content:"";
  display:table;
  clear:both
}

/*----------Top and Bottom definitions----------*/
.top,.bottom{
  position:fixed;
  width:100%;
  z-index:1
}
.top{
  top:0
}
.bottom{
  bottom:0
}

/*----------Padding sizes----------*/
.padding-16{
  padding-top:16px!important;
  padding-bottom:16px!important
}
.padding-32{
  padding-top:32px!important;
  padding-bottom:32px!important
}
.padding-64{
  padding-top:64px!important;
  padding-bottom:64px!important
}
.padding-medium{
  padding:8px 16px!important
}

/*----------Sections colors------------*/
.colors-lightgrey-black {
  color:#000 !important;
  background-color:#f0f0f0 !important
}

.colors-blue-white {
  color:#fff !important;
  background-color:#2EAFDB !important
}

.colors-green-white,.hover-colors-green-white:hover{
  color:#fff !important;
  background-color:#63B197 !important
}

.colors-orange-white{
  color:#fff !important;
  background-color:#F7A93C !important
}

.colors-pink-white{
  color:#fff !important;
  background-color:#EA5194 !important
}

.colors-white-black,.hover-colors-white-black:hover{
  color:#000!important;
  background-color:#fff!important
}

/*----------Text Alignment----------*/
.left-align{
  text-align:left!important
}
.right-align{
  text-align:right!important
}
.text-justify{
  text-align:justify!important
}
.text-center{
  text-align:center!important
}

/*----------Property: font-size----------*/
.font-size-xlarge{
  font-size:24px!important
}
.font-size-xxlarge{
  font-size:36px!important
}

/*----------Property: opacity----------*/
.opacity,.hover-opacity:hover{
  opacity:0.60;
  filter:alpha(opacity=60);
  -webkit-backface-visibility:hidden
}
.opacity-off,.hover-opacity-off:hover{
  opacity:1;
  filter:alpha(opacity=100);
  -webkit-backface-visibility:hidden
}

/*----------Property: float----------*/
.float-left{
  float:left!important
}
.float-right{
  float:right!important
}

/*----------Property: margin----------*/
.margin-top{
  margin-top:16px!important
}
.margin-bottom{
  margin-bottom:16px!important
}

/*----------Text Box----------*/
.box{
  box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important
}
/*----------Navbar on small screeen----------*/
.navbar .opennav.float-right {
  float: right!important;
}
.btn,.w3-closenav,.opennav{
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none
}

.opennav,.w3-closenav{
  color:inherit
}

.opennav:hover,.w3-closenav:hover{
  cursor:pointer;
  opacity:0.8
}

.opennav,.w3-closenav,.w3-closebtn,*[class*="hover-"]

/*----------Menu bar icon (3 parallel lines) ----------*/
.menu-icon {
    display: inline-block;
    cursor: pointer;
}
.menu-bar1, .menu-bar2, .menu-bar3 {
    width: 25px;
    height: 2px;
    background-color: #fff;
    margin: 3px 0;
    transition: 0.4s;
}

/*----------Bars upper and under text----------*/
.topbar-pink{
  border-top:6px solid #EA5194!important
}
.underline-pink{
  border-bottom:6px solid #EA5194!important
}

/*----------Buttons----------*/
.top-btn{
  bottom:100px;
  z-index:1;
}

.btn{
  border:none;
  display:inline-block;
  outline:0;
  padding:6px 16px;
  vertical-align:middle;
  overflow:hidden;
  text-decoration:none!important;
  color:#fff;
  background-color:#000;
  text-align:center;
  cursor:pointer;
  white-space:nowrap
}

.w3-disabled,.btn:disabled{
  cursor:not-allowed;
  opacity:0.3
}
.btn.w3-disabled *,.btn:disabled *{
  pointer-events:none
}
.btn.w3-disabled:hover,.btn:disabled:hover{
  box-shadow:none
}
.w3-btn-group .btn{
  float:left
}
.w3-btn-bar .btn{
  box-shadow:none;
  background-color:inherit;
  color:inherit;
  float:left
}
.w3-btn-bar .btn:hover{
  background-color:#ccc
}

/*----------Circle images----------*/
.circle{
  border-radius:50%!important
}

/*----------Hide and show elements (Responsive modifications)----------*/
.display-none{
  display:none
}

.hide{
  display:none!important
}

.show-block{
  display:block!important
}

.show-inline-block{
  display:inline-block!important
}

@media (max-width:600px){
  .hide-small{
    display:none!important
  }
}

@media (max-width:992px) and (min-width:601px){
  .hide-medium{
    display:none!important
  }
}

@media (min-width:993px){
  .hide-large{
    display:none!important
  }
}

/*----------End----------*/
.row-padding:after{
  content:"";
  display:table;
  clear:both
}
.row-padding,.row-padding>.third,.row-padding>.w3-twothird,.row-padding>.w3-threequarter,.row-padding>.quarter,.row-padding>.col{
  padding:0 8px
}
/*third*/
.col,.third,.w3-twothird,.w3-threequarter,.quarter{
  float:left;
  width:100%
}

.col.s12,.third,.w3-twothird,.w3-threequarter,.quarter{
  width:99.99999%
}

.w3-display-hover{
  display:none
}

.w3-display-bottomleft{
  position:absolute;
  left:0;
  bottom:0
}
.w3-display-bottomright{
  position:absolute;
  right:0;
  bottom:0
}

@media only screen and (min-width:601px){
  .col.m1{width:8.33333%}
  .col.m2{width:16.66666%}
  .col.m3,.quarter{width:24.99999%}
  .col.m4,.third{width:33.33333%}
  .col.m5{width:41.66666%}
  .col.m6{width:49.99999%}
  .col.m7{width:58.33333%}
  .col.m8,.w3-twothird{width:66.66666%}
  .col.m9,.w3-threequarter{width:74.99999%}
  .col.m10{width:83.33333%}
  .col.m11{width:91.66666%}
  .col.m12{width:99.99999%}
}
@media only screen and (min-width:993px){
  .col.l1{width:8.33333%}
  .col.l2{width:16.66666%}
  .col.l3,.quarter{width:24.99999%}
  .col.l4,.third{width:33.33333%}
  .col.l5{width:41.66666%}
  .col.l6{width:49.99999%}
  .col.l7{width:58.33333%}
  .col.l8,.w3-twothird{width:66.66666%}
  .col.l9,.w3-threequarter{width:74.99999%}
  .col.l10{width:83.33333%}
  .col.l11{width:91.66666%}
  .col.l12{width:99.99999%}
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



/*--------------------*/
/*dfn{font-style:italic}mark{background:#ff0;color:#000}*/
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}
img{border-style:none}svg:not(:root){overflow:hidden}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}
hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-input-placeholder{color:inherit;opacity:0.54}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1,h2,h3,h4,h5,h6,.w3-slim,.w3-wide{font-family:"Segoe UI",Arial,sans-serif}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}
.w3-serif{font-family:"Times New Roman",Times,serif}
h1,h2,h3,h4,h5,h6{font-weight:400;margin:10px 0}.w3-wide{letter-spacing:4px}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{font-weight:inherit}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
img{margin-bottom:-5px}a{color:inherit}
