---
title: Blog Língua de Gato app
---
<!DOCTYPE html>
<html>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/stylesheets/index.css">
  <link rel="stylesheet" href="/stylesheets/blog.css">

  <body class="colors-lightgrey-black" style="font-family: Verdana,sans-serif;font-size: 15px;line-height: 1.5;">
    <div class="blog-content">
      <!-- Header -->
      <header class="container text-center padding-32">
        <h1><b>MY BLOG</b></h1>
        <p>Welcome to the blog of <span class="w3-tag">unknown</span></p>
      </header>

      <!-- Grid -->
      <div class="row">
        <!-- Blog entries -->
        <div class="col l8 s12">

          <!-- Blog entry -->
          <div class="card-4 margin colors-white-black">
            <img src="/images/background/placeit-big.png" alt="Nature" style="width:100%">
            <div class="container padding-8">
              <h3><b>TITLE HEADING</b></h3>
              <h5>Title description, <span class="opacity">April 7, 2014</span></h5>
              <div class="w3-container">
                <p>
                  Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at. Phasellus sed ultricies mi non congue ullam corper. Praesent tincidunt sedtellus ut rutrum. Sed vitae justo condimentum, porta lectus vitae, ultricies congue gravida diam non fringilla.
                </p>
                <div class="row">
                  <div class="col m8 s12">
                    <p>
                      <button class="btn padding-large colors-white-black border hover-border-black">
                        <b>READ MORE »</b>
                      </button>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div> <!-- END BLOG ENTRIES -->

        <!-- Introduction menu -->
        <div class="col l4">

          <!-- About  -->
          <div class="card-2 margin margin-top">
            <img src="/images/logo/icon.png" style="width:100%">
            <div class="container colors-white-black">
              <h4><b>My Name</b></h4>
              <p>Just me, myself and I, exploring the universe of uknownment. I have a heart of love and a interest of lorem ipsum and mauris neque quam blog. I want to share my world with you.</p>
            </div>
          </div>

          <hr>

          <!-- Posts -->
          <div class="card-2 margin">
            <div class="container padding">
              <h4>Popular Posts</h4>
            </div>
            <ul class="ul hoverable colors-white-black">
              <li class="padding-16">
                <img src="/images/logo/icon.png" alt="Image" class="float-left margin-right" style="width:50px">
                <span class="large">Lorem</span><br>
                <span>Sed mattis nunc</span>
              </li>
              <li class="padding-16">
                <img src="/images/logo/icon.png" alt="Image" class="float-left margin-right" style="width:50px">
                <span class="w3-large">Ipsum</span><br>
                <span>Praes tinci sed</span>
              </li>
              <li class="padding-16">
                <img src="/images/logo/icon.png" alt="Image" class="float-left margin-right" style="width:50px">
                <span class="w3-large">Dorum</span><br>
                <span>Ultricies congue</span>
              </li>
            </ul>
          </div>
          <hr>

          <!-- Labels / tags -->
          <div class="card-2 margin">
            <div class="container padding">
              <h4>Tags</h4>
            </div>
            <div class="container colors-white-black">
            <p>
              <span class="tag colors-black-white margin-bottom">Travel</span>
              <span class="tag colors-lightgrey-black small margin-bottom">New York</span>
            </p>
            </div>
          </div>

        </div>

        </div><!-- END Introduction Menu -->

    </div>

  <!-- Footer -->
  <footer class="container colors-green-white padding-32 margin-top">
    <button class="btn disabled padding-large margin-bottom">Previous</button>
    <button class="btn padding-large margin-bottom">Next »</button>
    <p>Criado por <a href="http://www.w3schools.com/w3css/default.asp" target="_blank">Língua de Gato app</a></p>
  </footer>

  </body>
</html>
