---
title: Welcome to Middleman
---

<body>
  <div class="navbar-wrapper">
    <nav class="navbar navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div>
            <a class="navbar-brand" href="#contato">Contato</a>
            <span class="navbar-brand">|</span>
            <a class="navbar-brand" href="https://www.facebook.com/linguadegatoapp" target="_blank">Facebook</a>
            <a href="https://itunes.apple.com/app/id1071864943?mt=8" class="" target="_blank">
              <img class="appstore-download" src="images/applestore-download.svg">
            </a>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <div class="header">
    <div class="header-content">
      <img class="logo" src="images/icon.png" class="icon" />
      <img class="title" src="images/lingua_de_gato_letras.png" />
    </div>
  </div>


  <!-- Carousel
  ================================================== -->
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1" class=""></li>
      <li data-target="#myCarousel" data-slide-to="2" class=""></li>
      <li data-target="#myCarousel" data-slide-to="3" class=""></li>
      <li data-target="#myCarousel" data-slide-to="4" class=""></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <div class="container">
          <div class="carousel-caption">
            <img class="ipad-screen" src="images/ipad/1.png" />
          </div>
        </div>
      </div>
      <div class="item">
        <div class="container">
          <div class="carousel-caption">
            <img class="ipad-screen" src="images/ipad/2.png" />
          </div>
        </div>
      </div>
      <div class="item">
        <div class="container">
          <div class="carousel-caption">
            <img class="ipad-screen" src="images/ipad/3.png" />
          </div>
        </div>
      </div>
      <div class="item">
        <div class="container">
          <div class="carousel-caption">
            <img class="ipad-screen" src="images/ipad/4.png" />
          </div>
        </div>
      </div>
      <div class="item">
        <div class="container">
          <div class="carousel-caption">
            <img class="ipad-screen" src="images/ipad/5.png" />
          </div>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="http://getbootstrap.com/examples/carousel/#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="http://getbootstrap.com/examples/carousel/#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div><!-- /.carousel -->


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <img class="img-circle" src="images/divertir.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2 class="divertir">Divertir</h2>
        <p>O Língua de Gato permite a criação de palavras-cruzadas para que as crianças divirtam-se no universo da leitura e da escrita a partir de elementos a sua volta.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="img-circle" src="images/desenvolver.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2 class="desenvolver">Desenvolver</h2>
        <p>Considerando a complexidade da aquisição da leitura e da escrita e as particularidades de cada criança, criamos um ambiente customizável no qual as palavras-cruzadas podem ser construídas a partir de fotos e/ou áudios.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="img-circle" src="images/aproximar.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2 class="aproximar">Aproximar</h2>
        <p>Acreditamos profundamente que o aprendizado se dá com a participação do outro. Assim, desejamos enriquecer a interação entre as crianças e seus pais, professores e amigos, por meio do Língua de Gato.</p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div>
        <iframe class="video" src="https://www.youtube.com/embed/W2EA2EgqR5o" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>

    <!-- /END THE FEATURETTES -->

    <hr class="featurette-divider">

    <h2 class="featurette-heading sub-title">Quem somos</h2>

    <div class="row">
      <div class="col-lg-4">
        <img class="img-circle" src="images/team/harry.png" alt="Generic placeholder image" width="140" height="140">
        <h2 class="divertir">André Soléo</h2>
        <p>Desenvolvedor iOS atualmente cursando Ciência da Computação pela UNICAMP desde 2013. Formado em Filosofia pela mesma universidade.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="img-circle" src="images/team/alline.png" alt="Generic placeholder image" width="140" height="140">
        <h2 class="desenvolver">Alline Kobayashi</h2>
        <p>Apaixonada por crianças, educação e tecnologia, graduou-se em Ciência da Computação e resolveu aventurar-se pela área de humanas ao iniciar o mestrado em Neurolinguística, ambos na UNICAMP. Trabalha com crianças e jovens com dificuldades escolares relativas à linguagem e atua na contra mão do processo de patologização vivido atualmente.</p>
        <p>
          <a class="btn btn-default" href="https://br.linkedin.com/in/alline-kobayashi-b9083345" role="button" target="_blank">LinkedIn</a>
          <a class="btn btn-default" href="http://lattes.cnpq.br/8071107008406828" role="button" target="_blank">Lattes</a>
        </p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="img-circle" src="images/team/jhen.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2 class="aproximar">Jheniffer Leonardi</h2>
        <p>Desenvolvedora iOS, formada em 2015 em Análise e Desenvolvimento de Sistemas pela FATEC Americana.
          Acredita que crianças devem ter suas particularidades e gostos respeitados.
        </p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

    <hr class="featurette-divider">

    <h2 class="featurette-heading sub-title">Agradecimentos Especiais</h2>

    <div class="row featurette">
        <div id="agradecimentos" class="col-md-10">
          <h2 class="divertir">Taiane Moretti</h2>
          <p>Designer formada pela Facamp com especialização em Design Gráfico pela Unicamp. Trabalha com web design e é mãe da Gabi, que a inspirou no projeto Língua de Gato.</p>
          <p>
            <a class="btn btn-default" href="https://www.linkedin.com/in/taiane-moretti-8146668b" role="button" target="_blank">LinkedIn</a>
            <a class="btn btn-default" href="https://www.behance.net/taianemoretti" role="button" target="_blank">Portfólio</a>
          </p>
        </div>
    </div>

    <hr class="featurette-divider">

    <h2 class="featurette-heading sub-title">Artigos relacionados</h2>

    <div class="row featurette">
        <div id="artigos" class="col-md-10">
            <a class="lead" href="http://www.br-ie.org/pub/index.php/wcbie/article/view/6043" target="_blank">Língua de Gato: usando a linguagem de forma divertida</a>
            <p>Alline Kobayashi, Fernanda Freire, Vítor Rocha, André Scherma<br/>
            V Congresso Brasileiro de Informática na Educação e X Conferência Latino-Americana de Objetos e Tecnologias de Aprendizagem</p>
        </div>
    </div>

    <hr class="featurette-divider">

    <h2 class="featurette-heading sub-title">Contato</h2>

    <div class="row featurette">
      <div id="contato" class="col-md-10">
        <p class="lead">Você quer conversar conosco?</p>
        <p class="lead">Nós buscamos responder todos os emails enviados para: <span class="email-contato">contato@linguadegatoapp.com.br</span></p>
      </div>
    </div>

    <!-- FOOTER -->
    <footer>
      <p class="pull-right"><a href="#top">Back to top</a></p>
      <p>© 2016 Company, Inc. · <a href="/privacidade.html" class="footer-item" target="_blank">Privacidade</a>|<a href="/suporte.html" class="footer-item" target="_blank">Suporte</a></p>
    </footer>

  </div><!-- /.container -->
